
<div class="jumbotron bg-wizardry bg-dark text-white mb-0 radius-0">
  <div class="container">

      <h1 class="display-1 text-light">CDlogs.info
        <span class="fa fa-magic text-warning display-icon"></span>
      </h1>
      <span class="lead">The commercial diving smart logbook</span>

      <div class="mt-4">
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary'  %>
         </div>

  </div>
</div>

  <div class="container py-5">
    <h1>Smart logbooks</h1>

    <p>The equivalent to logbooks in the digital realm<br>
        <p>-Smart logbooks are a perfect method for you to organize and keep track of your diving career
            reducing the human error.<br>
        <p>-Make yourself more employable by allowing diving contractors access to your work experience.<br>
        <p>-Increase your operational safety by allowing RMAI to analyze the data of your previous dives<br>
        <p>-Get a report of your dive career for recertification with IMCA, ADCI, DCBC, ACDE, HSE, ADAS<br>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://californiadiver.com/wp-content/uploads/2016/07/Underwater-chainsaw.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://www.qatarmarine.net/en/wp-content/uploads/2013/03/Commercial-Diving.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://danwoolsey.com/wp-content/uploads/2018/05/commercial-diver-1.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
