<p>RISK MANAGEMENT POWERED BY ARTIFICAL INTELLIGENCE (RMAI)
APPLIED TO THE SUBSEA INTERVENTION INDUSTRY</p>

<p class="paragraph">The heart of our solution consists of a predictive model based on Artificial Intelligence
    that analyzes large amounts of data gathered from our multiple database structures.</p>

<p class="paragraph"> The nature of the data analyzed consists of personnel, equipment and procedural data
    structures that define the way diving contractors execute subsea intervention projects,
     this data is used to train the model and then the model is adapted to produce predictions
     on specific axioms. These axioms are produced by our team based on the needs of the industry
     stakeholders to solve specific problems and streamline their processes.</p>
